# See https://www.dartlang.org/guides/libraries/private-files

.DS_Store
.atom/
.idea
.vscode/

# Files and directories created by flutter
.dart_tool/
.packages
.pub/
build/
packages
pubspec.lock
.flutter-plugins
ios/.generated/

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/
